/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
}

/* Full-screen particles background */
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 65px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
}

.site-name h1 {
  color: black;
  transition: 0.3s ease;
}

.site-name h1:hover {
  color: rgb(95, 0, 184);
}

.site-name a {
  text-decoration: none;
}

.site-name {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 3% 0 0;
  cursor: pointer;
}

.web-logo {
  height: 30px;
  margin-right: 4px;
  padding: 0;
  cursor: pointer;
}

/* Desktop menu */
.menu {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
  padding-right: 90px;
}

.menu li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  opacity: 85%;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.menu li a::after {
  content: '';
  background: rgb(0, 0, 0);
  width: 0;
  height: 2px;
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}

.menu li a:hover {
  color: #5f00b8;
}

.menu li a:hover::after {
  width: 100%;
  background: rgb(95, 0, 184);
}

.menu li a.active {
  color: #5f00b8;
  font-weight: 900;
}

.menu li a.active::after {
  width: 100%;
  background: #5f00b8;
}

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 11;
  padding-right: 20px;
}

.hamburger .bar {
  width: 27px;
  height: 4px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Hamburger open animation */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu */
.mobile-menu {
  display: none;
}

@media (max-width: 749px) {
  .navbar{
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu {
    display: none; /* Hide desktop menu on mobile */
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65px;
    right: -250px;
    background-color: rgb(95, 0, 184);
    width: 250px;
    height: 100vh;
    padding: 30px 20px;
    gap: 20px;
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 9;
    align-items: flex-start;
  }

  .mobile-menu.active {
    right: 0;
  }

  .mobile-menu li {
    list-style: none;
  }

  .mobile-menu li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    opacity: 85%;
    position: relative;
    transition: color 0.3s ease;
  }

  .mobile-menu li a.active {
    color: #F9E400;
    font-weight: 900;
  }

  .mobile-menu li a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #F9E400;
    bottom: -3px;
    left: 0;
  }

  .mobile-menu li a:hover {
    color: #ffffff;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 10% 0 10%;
  z-index: 1;
  width: 100%;
  flex-wrap: wrap; /* Helps with mobile responsiveness */
  gap: 100px; /* space between content and image */
  margin-bottom: 150px;
}

.content{
  flex: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  min-width: 250px;
}

.profile-image {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 250px;
}

.pic-1 {
  width: 80%;
  max-width: 400px; 
}

.content h1 {
  font-size: 4em;
  margin-bottom: -0.7rem;
}

.content h2{
  font-size: 4em;
  margin-bottom: -0.7rem;
}

.content p {
  font-size: 2rem;
  margin-top: 1rem;
}

#typed{
  color: #E52020;
}

/* Button styling */
.button {
  margin-top: 1em;
  padding: 15px 25px;
  background-color: #2009ce;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 4px 4px 10px black;
}

.button:hover {
  box-shadow: 2px 2px 17px #00126e;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.social-icons a {
  font-size: 1.1rem;
  color: #fff; 
  background-color: #000; 
  border-radius: 50%; 
  padding: 11px 17px;
  display: inline-block; /* Ensures the icon is contained in the background */
  transition: background-color 0.2s ease, color 0.2s ease; /* Smooth transition for color change */
}

.social-icons .linkedin:hover {
  background-color: #0077b5; 
  color: white; 
}

.social-icons .github:hover {
  background-color: #333; 
  color: white;
}

.social-icons .instagram:hover {
  background-color: #E1306C; 
  color: white;
}

.social-icons .gmail:hover {
  background-color: #ff0000; 
  color: white;
}

@media (max-width: 500px) {
  .hero{
    padding-top: 80px;
    margin-bottom: 1px;
    gap: 80px;
  }
  .hero h1{
    font-size: 3.3rem;
  }
  .hero h2{
    font-size: 3rem;
  }
  .hero p{
    font-size: 1.2rem;
  }
  .content{
    gap: 3px;
  }
  .pic-1{
    width: 90%;
  }
}
.about-me{
  background-color: white;
  padding: 40px 14% 140px 11%;
  margin-top: 100px; 
}

.about-heading {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 80px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.profile-image-2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.pic-2 {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
}

.about-text {
  flex: 2;
  font-size: 1rem;
  line-height: 24px;
}

.about-text h2{
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.about-text h4{
  margin-bottom: 10px;
}

.about-button{
  font-size: 1.2rem;
  padding: 15px 25px;
  margin-top: 40px;
  border-radius: 50px;
  border-style: none;
  background-color: rgb(95, 0, 184);
  color: white;
  cursor: pointer;
  box-shadow: 4px 4px 10px black;
  transition: 0.3s;
}

.about-button:hover {
  box-shadow: 2px 2px 17px rgb(95, 0, 184);
}
/* Small mobiles up to 420px */
@media (max-width: 500px) {
  /* Your responsive styles for very small screens */
  .about-me {
    padding: 20px 20px 100px 20px;
  }
  .about-heading {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
  .about-content {
    flex-direction: column;
    gap: 30px;
  }
  .pic-2 {
    max-width: 200px;
  }
  .about-text {
    font-size: 0.9rem;
    line-height: 20px;
    text-align: justify;
  }
  .about-text h2 {
    font-size: 1.4rem;
  }
  .about-button {
    font-size: 1rem;
    padding: 12px 20px;
    margin-top: 25px;
  }
}

/*Skills*/
.skills{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  background-color: #561b9e;
  color: white;
}

.skills h2{
  text-align: center;
  font-size: 2.4rem;
}

.image-icons{
  display: flex;
  background-color: #30006b;
  border-radius: 15px;
  justify-content: center;
  padding: 2% 2%;
  margin: 30px 19.5%;
  flex-wrap: wrap;
  gap: 35px;
}

.skill{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 3px 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  width: 180px;
  height: 130px;
}

.skill:hover{
  background-color: rgb(26, 26, 26);
  transition: 0.1s ease;
}

.skill img{
  margin-top: 15px;
}

.skill h5{
  color: rgb(255, 255, 255);
  margin: 0;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 300;
}

@media (max-width: 500px) {
  .skills{
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .skills-container h2{
    font-size: 2rem;
  }
  .image-icons{
    margin: 10px 20px;
    gap: 5px;
    padding: 8px 0;
  }
  .skill{
    padding: 15px;
    margin: 2px;
    width: 150px;
  }
}

/*Education*/
.education{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e2dbf7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.education h1{
  text-align: center;
  font-size: 2.4rem;
  
}

.education-list{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  line-height: 40px;
}

.college{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin: 0 17%;
  box-shadow: 0 0 10px;
  transition: transform 0.2s ease;
  flex-wrap: wrap;
}

.school{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin: 40px 17%;
  box-shadow: 0 0 10px;
  transition: transform 0.2s ease;
  flex-wrap: wrap;
}

.edu-content{
  padding: 15px;
}

.education-pic{
  width: 270px;
}

.education-list h2{
  font-size: 1.5rem;
  color: rgb(95, 0, 184);
}

.education-list h3{
  font-size: 1.3rem;
  color: rgb(3, 203, 47);
}

@media (max-width: 500px) {
  .education-container h1{
    font-size: 2rem;
  }
  .college{
    margin: 0 12%;
  }
  .school{
    margin: 5% 12%;
  }
  .education-pic{
    width: 100%;
  }
}

/*Experience*/
.experience {
  background-color: #f5f5f5;
  padding: 40px 20px;
}

.experience h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.container {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}

.container.left{
  left: 0;
}

.container.right{
  left: 50%;
}

.bi.bi-calendar-check.right{
  position: absolute;
  left: -18px;
  top: 45px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: solid #4335A7;
  border-radius: 50px;
  padding: 3px 8px;
  z-index: 1;
}

.bi.bi-calendar-check.left{
  position: absolute;
  right: -19px;
  top: 45px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50px;
  padding: 3px 8px;
  border: solid #4335A7;
  z-index: 1;
}

.exp-content {
  position: relative;
  background-color: #6A42C2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Arrow for right */
.container.right .exp-content::before {
  content: '';
  position: absolute;
  top: 25px;
  left: -32px;
  border-width: 17px;
  border-style: solid;
  border-color: transparent #6A42C2 transparent transparent;
}

/* Arrow for left */
.container.left .exp-content::before {
  content: '';
  position: absolute;
  top: 26px;
  right: -32px;
  border-width: 17px;
  border-style: solid;
  border-color: transparent transparent transparent #6A42C2;
}
/* Line down the middle */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

@media (max-width: 500px) {
  .experience-container h1{
    font-size: 2rem;

  }
  .timeline::after {
    left: 18px; /* move timeline line to the left */
  }

  .container {
    width: 100%;
    padding: 18px 20px 0 40px;
    margin-bottom: 20px;
  }

  .container.left,
  .container.right {
    left: 0;
  }

  .container .exp-content {
    margin-left: 28px;
  }

  .container.right .exp-content::before,
  .container.left .exp-content::before {
    left: -19px;
    border-width: 10px;
    top: 32px;
    border-style: solid;
    border-color: transparent #6A42C2 transparent transparent;
    right: auto;
  }

  .bi.bi-calendar-check.right,
  .bi.bi-calendar-check.left {
    left: 0;
    right: auto;
    top: 45px;
  }
}

/*Contact*/
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20%;
  background-color: #DFCCFB;
}

.contact h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  flex-wrap: wrap;
    margin-bottom: 30px;
}

.contact-container img {
  width: 350px;
  max-width: 100%;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 1.2rem;
  pointer-events: none;
}

.input-icon input,
.input-icon textarea{
  width: 100%;
  padding: 12px 12px 12px 45px;
  border-radius: 8px;
  border: 1px solid #000000;
  outline: none;
  background-color: #DFCCFB;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.input-icon input:focus{
  border: 2px solid rgb(95, 0, 184);
  outline: none;
}
.textarea-icon textarea:focus{
  border: 2px solid rgb(95, 0, 184);
  outline: none;
}

.input-icon.textarea-icon i{
  top: 14px;
  transform: none;
}

.input-icon textarea {
  resize: vertical;
  padding-top: 14px;
}

.contact-form button {
  padding: 15px 7px;
  margin-left: 65%;
  margin-right: 5%;
  background-color: rgb(95, 0, 184);
  color: white;
  border: none;
  border-radius:8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contact-form button:hover {
  transform: scale(1.05);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Poppins';
  font-size: 1rem;
  color: #666;
}
@media (max-width: 500px) {
  .contact{
    padding: 30px 50px;
  }
  .contact-container img{
    display: none;
  }
  .contact-containers h2{
    font-size: 2rem;
  }
  .contact-container{
    padding: 30px 20px;
  }
  .contact-form button{
    padding: 14px 5px;
    font-size: 1.1rem;
  }
  
}

/*Footer*/
.footer{
  background-color: #240073;
}
.footer-0{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
  padding: 30px 30px;
  margin: 0 16%;
  background-color: #240073;
  color: white;
  line-height: 30px;
}

.footer-3-menu{
  list-style: none;
  font-size: 1rem;
}
.footer-3-menu li a{
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 0.3s ease;
}
.footer-3-menu li a:hover{
  transform: scale(1.04);
}

.emoji-spin {
  display: inline-block;
  animation: pulse 1s infinite;
}

@media (max-width: 500px) {
  .footer-0{
    margin: 0 10px;
    gap: 20px;
  }
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.last-line{
  padding: 10px 0;
  margin: 0 12%;
  display: flex;
  justify-content: center;
}

.slide-in-left, .slide-in-right, .slide-in-up, .slide-in-down{
  opacity: 0;
  transform: translateX(0); /* neutral by default */
  transition: all 0.6s ease-out;
}

.slide-in-left.in-view {
  opacity: 1;
  transform: translateX(0);
  animation: slideInFromLeft 0.6s ease-out forwards;
}

.slide-in-right.in-view {
  opacity: 1;
  transform: translateX(0);
  animation: slideInFromRight 0.6s ease-out forwards;
}

.slide-in-up.in-view {
  opacity: 1;
  transform: translateY(0);
  animation: slideInFromBottom 0.6s ease-out forwards;
}

.slide-in-down.in-view{
  opacity: 1;
  transform: translateY(0);
  animation: slideInFromUp 0.6s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromUp{
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* matches navbar height + some space */
}

::-webkit-scrollbar {
  width: 8px; /* or height for horizontal scrollbars */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(95, 0, 184); /* your desired color */
  border-radius: 10px;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* background of track */
}
